button {
  padding: 0;
  margin: 10px;
}
#back {
  font-size: 58px;
  cursor: pointer;

  height: 44px;           /* lebih tinggi dari font */
  width: 64px;

  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 1;         /* penting */
}
