.register {
  position: fixed; /* paling gampang center */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 65vw;     /* lebih besar dari 50% */
  height: 60vh;    /* biar lega */

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  border-radius: 22px;
  padding: 40px;
  box-sizing: border-box;
  margin-top: 400px;
}



/* Form */
.register form {
  width: 100%;
  max-width: 550px; /* agar tidak terlalu lebar di monitor besar */
  display: flex;
  flex-direction: column;
  gap: 15px;
}



/* Input */
.register-form input{
  padding: 12px;
  border: none;
  border-radius: 100px;
  background: rgba(255,255,255,0.1);
  color: #fff;
  outline: 1px solid transparent;
  transition: .25s;
}

.register-form input:focus{
  outline: 1px solid #7c5cff;
  box-shadow: 0 0 8px #7c5cff;
}

/* Tombol */
.register-form button{
  margin-top: 5px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #7c5cff;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  transition: .35s;
}

.register-form button:hover{
  background: #6a46ff;
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(124,92,255,0.35);
}

/* Animasi muncul */
@keyframes fadeIn{
  0% { opacity:0; transform:translateY(15px); }
  100% { opacity:1; transform:translateY(0); }
}