.background{
  padding: 40px;
  display: flex;
  justify-content: center;
}

.dashboard-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 22px;
  width: 90%;
  max-width: 1300px;
  height: 50%;
}


/* HEADER */
.card-header{
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 18px;
}

.indicator{
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.green{ background:#49ff86 }
.purple{ background:#7c5cff }
.blue{ background:#35d1ff }
.red{ background:#ff5370 }

/* GAUGE WRAPPER */
.gauge-box{
  position: relative;
  margin: 8px auto 8px;
  width: 360px;
  height: 220px;
  margin-top: -30px;
  
}

/* SVG GAUGE */
.gauge-svg{
  width: 100%;
}

.g-track{
  stroke: rgba(255,255,255,0.1);
  stroke-width: 5;
  fill: none;
}

.g-progress{
  stroke: url(#gStat);
  stroke-width: 6;
  fill: none;
  stroke-dasharray: 126;
  stroke-dashoffset: 126;
  transition: .7s ease-in-out;
}

/* ANGKA */
.g-value{
  position: absolute;
  left: 50%;
  top: 58%;
  transform: translateX(-50%);
  font-size: 16px;
}

/* Jarum */
.needle{
  position: absolute;
  bottom: 12px;
  left: 50%;
  width: 2px;
  height: 52px;
  background: #ffffff;
  transform-origin: bottom center;
  transform: rotate(-90deg);
  border-radius: 8px;
  transition: .6s ease;
}

/* Active Panel */
.open-panel{
  cursor: pointer;
}

.open-panel.show .task-panel{
  max-height: 220px;
}

/* Profile */
.profile-info p span {
  font-weight: 600;
  color: #e1e1e1;
}

/* Stats Section */
.stats-card ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.stats-card li {
  margin-bottom: 8px;
  font-size: 15px;
}
.stats-card li span{
  color: #7c5cff;
  font-weight: 600;
}

.userBTN button {
  padding: 4px 8px;   /* perkecil ruang dalam */
  font-size: 11px;    /* perkecil teks */
  height: auto;       /* pastikan tidak terkunci */
  margin: 5px;
}

#ViewTask {
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes slide{
  0%{ opacity:0; transform: translateY(20px); }
  100%{ opacity:1; transform: translateY(0); }
}

/* responsive optional */
@media(max-width:780px){
  .dashboard-cards{
    width: 92%;
  }
}

/*sementara*/
.btn-card {
  margin-bottom: -30px;
}
