
/* ========= SEARCH + FILTER BAR ========= */
.projects-toolbar {
  display: flex;
  gap: 12px;
  margin-bottom: 28px;
}

.projects-toolbar input,
.projects-toolbar select {
  padding: 10px 14px;
  background: var(--card);
  border-radius: 10px;
  border: 1px solid #1c2334;
  color: var(--text);
  font-size: 14px;
}

/* ========= LIST GRID ========= */
.projects-container {
  display: grid;
  gap: 16px;
}

/* ========= CARD ========= */
.card {
  width: 40%;
  margin: 0 auto;
}

/* small info */
.meta {
  color: var(--muted);
  font-size: 13px;
}

/* badge pojok kiri bawah */
.badge {
  position: absolute;
  left: 12px;
  bottom: 12px;
  font-size: 12px;
  background: var(--accent2);
  color: #000;
  padding: 6px 10px;
  border-radius: 6px;
  font-weight: 600;
}

/* ========= task ========= */
.taskShow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active h1 {
  color: #fff;
}

.Joined {
    margin-top: 100px;
}

.Joined h1 {
  color: #fff;
}

/* ===== CREATE TASK WRAPPER ===== */

/* FORM */
.taskForm {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 20px;
}

/* PLACEHOLDER COLOR */
.taskForm input::placeholder {
  color: #ffffff;
  opacity: 1; /* penting agar tidak abu-abu di browser tertentu */
}


/* INPUT STYLE */
.taskForm input,
.taskForm select {
  width: 100%;
  padding: 12px 14px;
  font-size: 15px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.12);
  background: rgba(255,255,255,0.08);
  color: #fff;
  outline: none;
  transition: .25s;
}

/* STAKE ROW */
.RewardRow {
  display: flex;
  gap: 10px;
  align-items: center;
}

.RewardRow input {
  flex: 2;
}

.RewardRow select {
  flex: 1;
}

#rewardUnit option {
  background-color: #272727;       /* background saat dropdown dibuka */
  color: #fff;
}
.JoinedTaskContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.JoinedTaskContainer .card {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}


.ActiveTaskContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.ActiveTaskContainer .card {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .JoinedTaskContainer .card {
    width: 100%;
  }
  .RewardRow {
    flex-direction: column;
  }
}